In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
import warnings

In [2]:
warnings.filterwarnings(action='ignore')

In [3]:
os.chdir('/Users/adityabhatkal/Desktop/Practice 32')

In [4]:
pwd

'/Users/adityabhatkal/Desktop/Practice 32'

In [5]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [32]:
for i,j in enumerate(df.columns):
    print(j, df[j].min(), df[j].max())

Pregnancies 0 17
Glucose 0 199
BloodPressure 0 122
SkinThickness 0 99
Insulin 0 846
BMI 0.0 67.1
DiabetesPedigreeFunction 0.078 2.42
Age 21 81
Outcome 0 1

In [29]:
df['Glucose'].max()

np.int64(199)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
x = df.iloc[:,0:8]
y = df.iloc[:,8:]

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20, random_state=645)
rf = RandomForestClassifier()
model = rf.fit(x_train, y_train)
y_predict2 = rf.predict(x_test)
acc = accuracy_score(y_test, y_predict2)
print(acc)

0.8506493506493507

In [9]:
cc = confusion_matrix(y_test, y_predict2)
cc

array([[97, 11],
       [12, 34]])

In [10]:
1-(22/154)

0.8571428571428572

In [11]:
import pickle
with open('diabetes_predictor.sav', 'wb') as f1:
    pickle.dump(model, f1)

with open('diabetes_predictor.sav', 'rb') as f2:
    load_model = pickle.load(f2)

In [12]:
pwd

'/Users/adityabhatkal/Desktop/Practice 32'

In [13]:
pwd

'/Users/adityabhatkal/Desktop/Practice 32'

In [14]:
load_model.predict([[6, 100, 30, 40, 0, 35, 0.66, 45]])

array([0])

In [15]:
load_model.predict_proba([[6, 100, 30, 40, 0, 35, 0.66, 45]])

array([[0.52, 0.48]])

In [16]:
if load_model.predict([[6, 150, 70, 40, 0, 35, 0.66, 45]])[0] == 1:
    print("You have a risk of Diabetes")
else:
    print("You are not at a risk of diabetes")

You have a risk of Diabetes

In [17]:
load_model.predict_proba([[6, 150, 70, 40, 0, 35, 0.66, 45]])[0][0]

np.float64(0.26)

In [18]:
print(load_model.predict([[6, 150, 70, 40, 0, 35, 0.66, 45]])[0])
load_model.predict_proba([[6, 150, 70, 40, 0, 35, 0.66, 45]])[0][1]

1

np.float64(0.74)

In [19]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [20]:
df['Pregnancies'].describe()

count    768.000000
mean       3.845052
std        3.369578
min        0.000000
25%        1.000000
50%        3.000000
75%        6.000000
max       17.000000
Name: Pregnancies, dtype: float64

In [21]:
for i in df.columns:
    print(i, df[i].min(), df[i].max(),df[i].max(), df[i].mean())

Pregnancies 0 17 17 3.8450520833333335
Glucose 0 199 199 120.89453125
BloodPressure 0 122 122 69.10546875
SkinThickness 0 99 99 20.536458333333332
Insulin 0 846 846 79.79947916666667
BMI 0.0 67.1 67.1 31.992578124999998
DiabetesPedigreeFunction 0.078 2.42 2.42 0.47187630208333325
Age 21 81 81 33.240885416666664
Outcome 0 1 1 0.3489583333333333

In [22]:
for i in df.columns:
    print(i)
    print(df[i].describe())

Pregnancies
count    768.000000
mean       3.845052
std        3.369578
min        0.000000
25%        1.000000
50%        3.000000
75%        6.000000
max       17.000000
Name: Pregnancies, dtype: float64
Glucose
count    768.000000
mean     120.894531
std       31.972618
min        0.000000
25%       99.000000
50%      117.000000
75%      140.250000
max      199.000000
Name: Glucose, dtype: float64
BloodPressure
count    768.000000
mean      69.105469
std       19.355807
min        0.000000
25%       62.000000
50%       72.000000
75%       80.000000
max      122.000000
Name: BloodPressure, dtype: float64
SkinThickness
count    768.000000
mean      20.536458
std       15.952218
min        0.000000
25%        0.000000
50%       23.000000
75%       32.000000
max       99.000000
Name: SkinThickness, dtype: float64
Insulin
count    768.000000
mean      79.799479
std      115.244002
min        0.000000
25%        0.000000
50%       30.500000
75%      127.250000
max      846.000000
Name: Insulin, dtype: float64
BMI
count    768.000000
mean      31.992578
std        7.884160
min        0.000000
25%       27.300000
50%       32.000000
75%       36.600000
max       67.100000
Name: BMI, dtype: float64
DiabetesPedigreeFunction
count    768.000000
mean       0.471876
std        0.331329
min        0.078000
25%        0.243750
50%        0.372500
75%        0.626250
max        2.420000
Name: DiabetesPedigreeFunction, dtype: float64
Age
count    768.000000
mean      33.240885
std       11.760232
min       21.000000
25%       24.000000
50%       29.000000
75%       41.000000
max       81.000000
Name: Age, dtype: float64
Outcome
count    768.000000
mean       0.348958
std        0.476951
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Outcome, dtype: float64